<!-- {% load category %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="       ">
        
        <nav class=" bg-lime-500    h-36     mx-28  ">
            <div class="   space-x-44   ">
                <a href="{% url 'core:about' %}">about</a>
                <a href="{% url 'core:whatsapp' %}">whatsapp</a>
                <a href="{% url 'core:instagram'%}">instagram</a>
            </div>
            <div>
                <h1>category</h1>
                {% category %}
            </div>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'mystore' %}">mystore</a><br>
                    <a href="{% url 'userprofile:myaccount' %}">myaccount</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html> -->
<html>
    <form action="/chat/" method="get">
        <label for="chat">chat</label>
        <input type="text" id="chat">
    </form>
</html>




